@model TaskManagementSystem.Models.Task

@{
    ViewData["Title"] = "Edit";
    
}

<h1>Edit</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskDetails" class="control-label"></label>
                <input asp-for="TaskDetails" class="form-control" />
                <span asp-validation-for="TaskDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedDate" class="control-label"></label>
                <input asp-for="AssignedDate" class="form-control" />
                <span asp-validation-for="AssignedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="AssignedById" class="control-label"></label>
                <select asp-for="AssignedById" class="form-control" asp-items="@ViewBag.users">

                    <option selected disabled> Please Select</option>
                </select>
                <span asp-validation-for="AssignedById" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AssignedTo" class="control-label"></label>
                <select asp-for="AssignedTo" class="form-control" asp-items="@ViewBag.users" multiple>
                    <option selected disabled>Please Select Multiple User by Holding CTRL</option>
                </select>
                <span asp-validation-for="AssignedTo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TaskCategory" class="control-label"></label>
                <select asp-for="TaskCategory" class="form-control" asp-items="@ViewBag.users">
                    <option selected disabled>Please Select the category</option>
                </select>

                <span asp-validation-for="TaskCategory" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TaskStatus" class="control-label"></label>
                @*<input asp-for="TaskStatus" class="form-control" />*@
                <select asp-for="TaskStatus" class="form-control" asp-items="Html.GetEnumSelectList<TaskStatusEnum>()">
                    <option selected disabled>Please Select the Status of the Task</option>

                </select>

                <span asp-validation-for="TaskStatus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TaskCompletedDate" class="control-label"></label>
                <input asp-for="TaskCompletedDate" class="form-control" />
                <span asp-validation-for="TaskCompletedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewTask">Back to List or ViewTask</a>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
