@model TaskManagementSystem.Models.TaskCategory


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <!-- <link rel="stylesheet" href="./user.css"> -->
    @*<link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/taskmangement.css">*@
    <link rel="stylesheet" href="/css/Adminlayout.css">
    <link rel="stylesheet" href="/css/Admintaskmgmt.css">
    <!-- font-awesome link -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />
    <title>Delete</title>
</head>
<body>

    <div  class="createtask-container-section">

        <!-- adduser section start here -->
        <div class="detail-form-section">
            <div class="detail-head-section">

                <h1>Delete</h1>
                <p>Are you sure you want to delete ?</p>
                <hr />
            </div>
            <div class="detail-content-section">
                <div class="detail-section">
                    <h4 class="detail-title">
                        TaskCategory
                    </h4>
                    <h4>@Model.Name</h4>
                </div>
                <div class="detail-section">
                    <h4 class="detail-title">
                        Manager
                    </h4>
                    <h4>@Model.Manager.UserName</h4>
                </div>

            </div>


            @*<form asp-action="Delete">
            <div class="clearfix">
                <input type="hidden" asp-for="Id" />
                <input class="clearfix-btn deletebtn" type="submit" value="Delete" />


                <button asp-controller="TaskCategory" asp-action="ViewTaskCategory" class="clearfix-btn cancelbtn">Cancel</button>
            </div>

        </form>*@

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="ViewTaskCategory">Back to List</a>
            </form>


        </div>
    </div>

    <script src="/js/adminlayout.js"></script>
    <script src="/js/site.js"></script>

</body>


























